.notif-container{
  background-color:white;
}

.actived-notif{
  background-color: lightgray;
}

.notif-list{
  background-color: lightgray;
  color: white
}

.notif-muted{ 
  size: 0.7rem !important;
}

.dropdown .dropdown-menu.dropdown-default .dropdown-item:hover :hover{
background-color: lightgray !important;
}

.notif-label{
    font-size: 10px;
    position: relative;
    margin-left: -6px;
    margin-top: -4px;
    color: white;
    border-radius: 18px;
}

.chat-room .friend-list .list-group-item {
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid;
  }
  
  .chat-room .friend-list .list-group-item:last-of-type {
    border-bottom: 0;
  }
  
  .chat-room .friend-list .list-group-item.active {
    background-color: #eeeeee;
  }
  
  .chat-room .avatar {
    height: 3rem;
    width: 3rem;
  }
  
  .chat-room .chat-message:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  
  .chat-room .scrollable-friends-list {
    height: 570px;
  }
  
  .chat-room .scrollable-chat {
    height: 510px;
    padding-bottom: 15px;
  }